<div id="CustomerWrapper">
    <br>
    @if (User.IsInRole("admin"))
    {
        <a href="#AddFormModal" class="btn btn-primary" data-toggle="modal">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Добавить клиента
        </a>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th><h4>Клиент</h4></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <colgroup>
            <col class="col-md-7">
            <col class="col-md-2">
            <col class="col-md-2">
        </colgroup>
        <tbody data-bind="foreach: Customers">
            <tr>
                <td data-bind="text: FullName"></td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a href="#EditFormModal" class="btn btn-primary" data-bind="click: $root.loadCustomerEditForm" data-toggle="modal">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Редактировать
                        </a>
                    }
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <button class="btn btn-primary" data-bind="click: $root.deleteCustomer">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Удалить
                        </button>
                    }
                </td>
            </tr>
        </tbody>
    </table>

    @if (User.IsInRole("admin"))
    {
        <div id="EditFormModal" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Редактирование клиента</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-validate">
                            <div class="form-group">
                                <input type="hidden" data-bind="value: $root.Id" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="text" data-bind="value: $root.CustomerName" class="form-control" placeholder="Введите клиента" />
                            </div>
                            <div class="classic-buttons">
                                <button class="btn btn-primary" data-bind="click: editCustomer">Сохранить</button>
                                <button class="btn btn-close" data-dismiss="modal" data-bind="click: clearForm">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="AddFormModal" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Добавление клиента</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-validate">
                            <div class="form-group">
                                <input type="text" data-bind="value: $root.CustomerName" class="form-control" placeholder="Введите клиента" />
                            </div>
                            <div class="classic-buttons">
                                <button class="btn btn-primary" data-bind="click: addCustomer">Добавить</button>
                                <button class="btn btn-close" data-dismiss="modal" data-bind="click: clearForm">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>


@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/Scripts/ViewModels/CustomerViewModel.js")

<script>
    $(function() {
        var myViewModel = new CustomerViewModel();
        ko.applyBindings(myViewModel, $("#CustomerWrapper")[0]);
    });
</script>
